/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightgray;
}

/* Main */

main {
  width: 640px;
  margin: 15px auto;
  padding: 2em;
  border: 1px solid white;
  background-color: white;
}

/* Header */

header {
  position: relative;
  text-align: center;
}

header img {
  width: 100%;
  height: 100%;
}

header section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 55%;
  color: black;
  text-shadow: 1px 1px 1px white;
}

header h1 {
  font-size: 2em;
  color: rgb(255, 126, 32);
  text-shadow: 0px 0px 8px black;
}

header button {
  color: white;
  background-color: rgb(255, 126, 32);
  padding: 18px 24px;
  border-radius: 8px;
  border: none;
  box-shadow: 2px 2px 3px black;
}

/* Section Follow Us*/

section.follow {
  border-top: 2px solid darkslategray;
  text-align: center;
  color: darkslategray;
}

section.follow h1 {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 3px;
  padding-bottom: 10px;
  padding-top: 30px;
}

section img {
  display: inline-block;
  width: 30%;
  margin: 8px;
  border: 1px solid gray;
  padding: 2px;
  filter: opacity(70%);
}

/* Section P */

section p {
  font-size: 0.9em;
  padding: 15px 0px;
}

section p.spacing {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Footer */

footer {
  color: white;
  text-align: center;
  background-color: rgb(255, 126, 32);
  padding: 40px;
  font-size: 0.9em;
}

/* GitHub Link */

.github-link {
  text-align: center;
  margin-top: 20px;
  padding: 15px;
  background-color: rgb(255, 126, 32);
}

.github-link a {
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
}

.github-link a:hover {
  text-decoration: underline;
}
