/* Global Styles */

* {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: lightgray;
  padding: 2px;
}

/* Links */

a:link {
  color: darkslategray;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover,
a.active {
  color: tomato;
  font-weight: bold;
}

/*  Main  */

main {
  width: 80%;
  min-width: 800px;
  max-width: 1240px;
  margin: 50px auto;
  padding: 2em;
  border: 5px double darkslategray;
  border-radius: 12px;
  background-color: white;
}

main > * {
  width: 600px;
  margin: 20px auto;
}

/* Header */

header {
  margin: 5px auto;
  text-align: center;
}

header span {
  font-size: 1em;
  display: block;
  line-height: 0.8em;
  font-weight: 400;
  text-transform: uppercase;
}

header span.analog {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.16em;
}

/* Navbar */

nav ul {
  border-top: 2px solid grey;
  border-bottom: 1px solid grey;
  padding: 10px 0px;
  margin-top: -10px;
}

nav li {
  list-style-type: none;
  display: inline-block;
  width: 18%;
  text-align: center;
  text-transform: lowercase;
}

/* Section */

section h1 {
  text-align: center;
  font-weight: 600;
  margin: 5px auto;
}

section.content {
  text-align: center;
  margin: 5px auto;
}

section figure .grayscale {
  filter: grayscale(100%);
}

/* Footer */

footer {
  border-top: 1px solid black;
  text-align: center;
  margin: 20px auto;
  padding-top: 20px;
}

/* GitHub Link */
footer a {
  font-weight: bold;
  color: darkslategray;
}

footer a:hover {
  color: tomato;
}
