@use "variables" as *; // no need for underscore ( _ ) and no url extension

// Soft Reset

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

// body {
//   background-color: variables.$light-color;
//   color: variables.$dark-color;
//   font-family: variables.$font-stack;
//   line-height: 1.5;
// }

body {
    background-color: $light-color;
    color: $dark-color;
    // font-family: $font-stack;
    // font-size: 18px;
    line-height: 1.5;
    font: {
        family: $font-stack;
        size: 18px
    };
  }
  
header {
    background-color: $dark-color;
    color: $light-color;
    padding: 1rem;

    h1 {
        text-align: center;
    }
}

.section {
    padding: 3rem;

    &-a {
        background-color: $primary-color;
        color: white;
    }

    &-b {
        background-color: $secondary-color;
        color: white;
    }
}

a {
    color: #555;

    &:hover {
        color: coral;
    }
}